.results {
  overflow: auto;
  transition: all 0.5s;
  flex: 0;
  width: 100%;

  &.active {
    flex: 1;
  }

  .items-container {
    .thumbs {
      text-align: center;
    }

    .btns-wrapper {
      display: flex;
      justify-content: center;
      .page-indicator {
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  .no-results-error {
    text-align: center;
  }
}